body{ 
	
	background-color:#AA4069
; 
    margin: 0px; 
    font-family: Verdana, Comic Sans Ms , Serif; 
    font-size: 20px; 
    
    }

 footer { background-color:#5946B2; 
       margin: 10px; 
       height: 80px;
       clear: both;
       font-size: 60%;
       padding: 10px; }

header{ 

	background-color: #5946B2; 
    margin: 10px; 
    height: 90px; 
    border-radius: 5px; 
    font-family: comic sans ms; 
    font-size: 300%;
    text-align: center; 
    
    }


ul { color: #5946B2;
     font-family: comic sans ms: }



nav{ background-color: #5946B2; 
        margin: 10px;
      height: 45px; 
      border-radius: 5px; 
      padding: 10px; 
      font-size: 90%;
      text-align: center;
      color: black;
      } 

main{

    background-color: #2887C8 ; 
   margin-left: 10px;
   margin-right: 320px; 
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
      padding: 10px;
     font-size: 110%;
       }

h1 { font-size: 120%;
      color: black; }
      
aside{ 
 background-color: #2887C8; 
  margin: 30px;
   border-radius: 5px;
    padding: 20px;
    font-size: 105%;
    float: right;
    width: 230px;  }
    
    h2 { font-size: 120%;
         color: black; 
         font-family: comic sans ms;}
         
         .sideright-image { 
         width: 300px;
         float: right; 
         clear: right; 
         border-radius: 5px;
         margin-left: 10px;
         margin-right: 10px;
         margin-top: 0px;
         margin-bottom: 10px; 
    }
             
   .sideleft-image {
 
width:300px;
float: center;
clear:center;
border-radius: 5px;
margin-left:10px; margin-right:10px; margin-top:0px; margin-bottom:10px;
opacity: 0.8; }
    